[Service]
WorkingDirectory={{ .WorkingDir }}
ExecStart={{ .ExecStart }}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ .AppName }}
User={{ .Uid }}
Group={{ .Gid }}
{{range .Env}}Environment={{ . }}
{{ end }}

[Install]
WantedBy=multi-user.target
