[Service]
WorkingDirectory={{ .WorkingDir }}
ExecStart={{ .ExecStart }}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ .AppName }}
User={{ .AppName }}
Group={{ .AppName }}
{{range .Env}}Environment={{ . }}
{{ end }}

[Install]
WantedBy=multi-user.target
